{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jan Klapetek</title>
    <link rel="stylesheet" href="{% static 'cv/style.css' %}">
    <script src="{% static 'cv/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Jan Klapetek</h1>
            <nav>
                <ul>
                    <li><a href="/">Domů</a></li>
                    <li><a href="{% url 'about' %}">O mně</a></li>
                    <li><a href="#/projects/">Projekty</a></li>
                    <li><a href="{% url 'hearthstone' %}">Hearthstone</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="https://github.com/JanKlapetek?tab=repositories">Repositories GitHub</a></li>
                    <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
                </ul>
            </nav>
        </header>
        
        {% block content %}
        <!-- Zde se bude načítat obsah z rozšiřujících šablon -->
        {% endblock %}

        <footer>
            <p>&copy; <span id="current-year"></span> Jan Klapetek. Všechna práva vyhrazena.</p>
        </footer>
    </div>
</body>
</html>