{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jan Klapetek</title>
    <link rel="stylesheet" href="{% static 'cv/style.css' %}">
    <script src="{% static 'cv/script.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Hearthstone cards</h1>
            <nav>
                <ul>
                    <li><a href="/">Domů</a></li>
                    <li><a href="{% url 'about' %}">O mně</a></li>
                    <li><a href="#/projects/">Projekty</a></li>
                    <li><a href="{% url 'hearthstone' %}">Hearthstone</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="https://github.com/JanKlapetek?tab=repositories">Repositories GitHub</a></li>
                    <li><a href="{% url 'kontakt' %}">Kontakt</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section id="cards">
                {% for card in cards %}
                    <div class="card">
                        <h2>{{ card.name|default:"Unknown Card" }}</h2>
                        <p>{{ card.text|default:"No description available" |safe }}</p>
                        <p><strong>Rarity:</strong> {{ card.rarity.name|default:"Unknown" }}</p>
                        <p><strong>Class:</strong> {{ card.class.name|default:"Unknown" }}</p>
                        <p><strong>Type:</strong> {{ card.type.name|default:"Unknown" }}</p>
                        <p><strong>Set:</strong> {{ card.cardSet.name|default:"Unknown" }}</p>
                    </div>
                {% endfor %}
            </section>
                   
            
            <div class="pagination">
                <button id="prevPage" {% if page <= 1 %}disabled{% endif %}>Předchozí</button>
                <button id="nextPage">Další</button>
            </div>
        </main>
        
        <script src="{% static 'cv/script.js' %}"></script>

        <footer>
            <p>&copy; <span id="current-year"></span> Jan Klapetek. Všechna práva vyhrazena.</p>
        </footer>
    </div>
</body>
</html>